* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 62.5%;
}

a {
    color: blue;
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

header {
    position: relative;
    overflow: auto;
}

.header-global {
    border: 1px solid red;
    padding: 1rem;
}

.header-global__id {
    float: left;
    width: 40%;
    text-align: left;
}

.header-global__nav {
    float: right;
    width: 60%;
}

header h1 {
    font-size: 2rem;
}

header nav ul li {
    display: inline;
    margin-left: 3rem;
    font-size: 1rem;
}