body > header {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.skip-to {
    text-decoration: none;
}

.global-logo a {
    text-decoration: none;
    background-image: url(./images/bitmoji-darinlivdahl.png);
    background-size: 60px;
    background-repeat: no-repeat;
}

.global-nav__list {
    list-style-type: none;
}

.global-nav__list-item a {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    box-shadow: -3px 5px 8px rgba(0,0,0,0.1);
    text-decoration: none;
}

.hero {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.about {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.hero:before,
.about:before {
    opacity: .1;
    background-image: url(./images/pattern.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: 25%;
    background-blend-mode: normal;
}

/* button styles */
.btn {
    text-decoration: none;
    border-style: dotted;
    border-width: 1px;
    cursor: pointer;
}

.btn-bare {
    border-radius: 0;
    border-style: none;
    border-width: 0;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

/* About section */
.profile-photo {
    border-radius: 50%;
    border-style: dotted;
    border-width: 1px;
}

/* social network icons and links */
.social-icons {
    list-style-type: none;
}

.para-footer {
    border-top-width: 1px;
    border-top-style: solid;
}

/* Projects */
.project-thumb {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.btn-disabled,
.project-thumb--disabled {
    pointer-events: none;
}

/* Begin Modal */
.modal-inner {
    border-style: dotted;
    border-width: 1px;
}

.modal-heading {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.modal-footer {
    border-top-width: 1px;
    border-top-style: dotted;
}

.settings-container ul {
    list-style: none;
}

.settings-menu__list-item a {
    pointer-events: none;
}

.settings-panel {
    border-left-width: 1px;
    border-left-style: dotted;
}
/* End Modal */

@media (max-width: 767px) {
    .hero:before,
    .about:before {
        background-size: 50%;
    }
}

@media (min-width: 768px) {
    .global-nav__list-item a {
        box-shadow: none;
    }
}

@media (min-width: 1280px) {
    .global-logo a {
        background-size: 80px;
    }
}

@media (min-width: 1536px) {
    .global-logo a {
        background-size: 100px;
    }
}

@media (prefers-color-scheme: dark) {
    .global-nav__list-item a {
        box-shadow: -3px 5px 8px rgba(0,0,0,0.3);
    }
    .about:before {
        opacity: .1;
    }
}