:root {
    /* Theme colors */
    --color-foundation: black;
    --color-primary: #faf9f6;
    --color-secondary: #c7921e;
    --color-action: #faf2df;
    /* --color-action-light: #CBA35C; */
    /* Dark Mode */
    --color-action-dark: rgb(0,150,255);
    --color-action-dark-active: rgb(1,24,255);
    --color-action-dark-active-light: rgb(117,213,255);
    --color-action-dark-secondary: #999;
    /* Contrast colors */
    --color-light: white;
    --color-gray: #ccc;
    --color-dark-gray: #333;
    --color-light-gray: #ebebeb;
}

h2 {
    color: var(--color-foundation);
    background-color: transparent;
}

h3,
.exp-icon,
.about-icon,
.global-settings:hover,
.global-settings:focus {
    color: var(--color-secondary);
    background-color: transparent;
}

a {
    color: var(--color-foundation);
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

body > header,
.hero {
    border-bottom-color: var(--color-secondary);
}

body > header,
body > footer,
main > section {
    background-color: var(--color-primary);
    color: var(--color-foundation);
}

.skip-to-main {
    color: var(--color-foundation);
    background-color: transparent;
}

.global-logo a {
    color: var(--color-foundation);
}

.btn-bare.global-nav__toggle--active {
    color: var(--color-secondary);
}

.global-nav__list-item a {
    color: var(--color-foundation);
    background-color: transparent;
    transition: color 400ms;
    border-color: var(--color-secondary);
}

@media screen and (max-width: 767px) {
    .global-nav__list-item a {
        color: var(--color-foundation);
        background-color: var(--color-action);
    }
    .global-nav__list-item a:hover,
    .global-nav__list-item a:focus {
        color: var(--color-secondary);
        border-color: var(--color-foundation);
    }
}

/* button styles */
.btn {
    transition: background-color 400ms, color 400ms, border-color 400ms;
    border-color: var(--color-secondary);
}

.btn-primary {
    background-color: var(--color-action);
    color: var(--color-foundation);
}

.btn-secondary {
    background-color: var(--color-light-gray);
    color: var(--color-foundation);
    border-color: var(--color-gray);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--color-action);
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-primary--outline {
    background-color: var(--color-light);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--color-secondary);
    border-color: var(--color-foundation);
}

.btn-bare {
    color: var(--color-foundation);
    background-color: transparent;
}

.btn-disabled {
    background-color: silver;
    color: gray;
}

/* Hero section */
.hero, .about {
    border-top-color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
}

.youtube-player {
    border-top-color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
}

/* about section */
.profile-photo {
    border-color: var(--color-secondary);
}

/* connect section */

/* social network icons and links */
.social-icons a {
    color: var(--color-foundation);
    transition: color 400ms;
}

.social-icon__linkedin:hover,
.social-icon__linkedin:focus {
    color: #0a66c2;
}

.social-icon__github:hover,
.social-icon__github:focus {
    color: var(--color-secondary);
}

.social-icon__codepen:hover,
.social-icon__codepen:focus {
    color: rgb(255, 221, 64);
}

.social-icon__salesforce:hover,
.social-icon__salesforce:focus {
    color: #1F5FBF;
}

/* .social-icon__windows:hover,
.social-icon__windows:focus {
    color: #00A3EE;
}

.social-icon__instagram:hover,
.social-icon__instagram:focus {
    color: #405DE6;
} */

.social-icon__upwork:hover,
.social-icon__upwork:focus {
    color: #14a800;
}

/* Projects */
.project-thumb {
    border-top-color: var(--color-secondary);
    border-bottom-color: var(--color-secondary);
}

.project-thumb:hover,
.project-thumb:focus {
    border-top-color: var(--color-foundation);
    border-bottom-color: var(--color-foundation);
}

.project-thumb--mars {
    background-color: var(--color-secondary);
}

.project-thumb--mars .project-thumb-img {
    filter: opacity(0.7);
}

/* Begin Modal */
.modal {
    background-color: rgba(0,0,0,0.8);
}

.modal-inner {
    border-color: var(--color-dark-gray);
}

.modal-heading {
    border-bottom-color: var(--color-secondary);
}

.modal-heading, .modal-body, .modal-footer {
    color: var(--color-foundation);
    background-color: var(--color-primary);
}

.modal-footer {
    border-top-color: var(--color-secondary);
}

.settings-menu__list-item a {
    color: var(--color-foundation);
}

.settings-panel {
    border-left-color: var(--color-secondary);
}

.settings-panel__list-item input:checked {
    accent-color: var(--color-secondary);
}
/* End Modal */

@media screen and (min-width: 768px) {
    .global-nav__list-item a,
    .global-nav__list-item a {
        border-bottom-color: transparent;
    }

    .global-nav__list-item a:hover,
    .global-nav__list-item a:focus {
        border-bottom-color: var(--color-secondary);
    }
}

@media (prefers-color-scheme: dark) {
    h2 {
        color: var(--color-light);
    }

    h3,
    .exp-icon,
    .about-icon {
        color: var(--color-action-dark-secondary);
        background-color: transparent;
    }

    body > header,
    .hero {
        border-bottom-color: var(--color-dark-gray);
    }

    body > header,
    body > footer,
    main > section {
        background-color: var(--color-foundation);
        color: var(--color-light);
    }

    a {
        color: var(--color-action-dark-active-light);
    }

    .global-logo a {
        color: var(--color-light);
    }

    footer a {
        color: var(--color-light);
    }

    a:hover,
    a:focus {
        color: var(--color-action-dark);
    }

    /* Global nav */
    .global-nav__list-item a:hover,
    .global-nav__list-item a:focus {
        border-color: var(--color-gray);
    }

    .global-nav__toggle--active {
        color: var(--color-light);
    }

    .global-nav__list-item a {
        color: var(--color-light);
        background-color: var(--color-foundation);
    }

    .global-settings:hover,
    .global-settings:focus {
        color: var(--color-action-dark-active-light);
        background-color: transparent;
    }

    .global-settings:active {
        color: var(--color-action-dark);
    }
    
    /* Buttons */
    .btn-primary {
        background-color: var(--color-dark-gray);
        border-color: var(--color-action-dark-active-light);
        color: var(--color-action-dark-active-light);
    }

    .btn-primary--outline {
        background-color: transparent;
        color: var(--color-action-dark-active-light);
        border-color: var(--color-action-dark-secondary);
    }

    .btn-primary:hover,
    .btn-primary:focus {
        border-color: var(--color-action-dark);
        color: var(--color-action-dark);
    }

    .btn-secondary {
        background-color: transparent;
        color: var(--color-action-dark-secondary);
        border-color: var(--color-action-dark-secondary);
    }
    
    .btn-secondary:hover,
    .btn-secondary:focus {
        background-color: transparent;
        color: var(--color-action-dark);
        border-color: var(--color-action-dark);
    }
    
    .btn-bare {
        color: var(--color-light);
    }

    .btn-bare.global-nav__toggle--active {
        color: var(--color-action-dark-active-light);
    }

    /* Projects */
    .project-thumb, .youtube-player {
        border-top-color: var(--color-action-dark-active-light);
        border-bottom-color: var(--color-action-dark-active-light);
    }

    .project-thumb:hover,
    .project-thumb:focus {
        border-top-color: var(--color-action-dark);
        border-bottom-color: var(--color-action-dark);
    }

    .project-thumb--mars {
        background-color: var(--color-dark-gray);
    }

    /* About section */
    .hero, .about {
        border-top-color: var(--color-dark-gray);
        border-bottom-color: var(--color-dark-gray);
    }

    .profile-photo {
        border-color: var(--color-dark-gray);
    }

    @media screen and (max-width: 767px) {
        .global-nav__list-item a {
            background-color: var(--color-dark-gray);
            color: var(--color-action-dark-active-light);
            border-color: var(--color-action-dark-active-light);
        }
        .global-nav__list-item a:hover,
        .global-nav__list-item a:focus {
            color: var(--color-action-dark);
            border-color: var(--color-action-dark);
        }
    }

    @media screen and (min-width: 768px) {
        .global-nav__list-item a,
        .global-nav__list-item a {
            border-bottom-color: transparent;
        }
    
        .global-nav__list-item a:hover,
        .global-nav__list-item a:focus {
            border-bottom-color: var(--color-action-dark-active-light);
        }
    }

    .experience, .certifications, .projects, .about {
        background-color: var(--color-foundation);
        color: var(--color-light);
    }

    /* social network icons and links */
    .social-icons a {
        color: var(--color-light);
    }

    .social-icon__github:hover,
    .social-icon__github:focus {
        color: var(--color-action-dark-secondary);
    }

    .social-icon__upwork:hover,
    .social-icon__upwork:focus {
        color: #c2f4bf;
    }

    /* Begin Modal */
    .modal-heading {
        color: var(--color-light);
        background-color: var(--color-dark-gray);
        border-bottom-color: var(--color-dark-gray);
    }

    .modal-body {
        color: var(--color-light);
        background-color: var(--color-foundation);
    }

    .modal-footer {
        color: var(--color-light);
        background-color: var(--color-dark-gray);
        border-top-color: var(--color-dark-gray);
    }

    .settings-panel {
        border-left-color: var(--color-dark-gray);
    }

    .settings-menu__list-item a {
        color: var(--color-light);
    }
    
    .settings-panel__list-label {
        border-color: var(--color-dark-gray);
    }
    
    .settings-panel__list-item input:checked {
        accent-color: var(--color-action-dark);
    }
    /* End Modal */
}