header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

a:hover,
a:focus {
    text-decoration: underline;
}

.skip-to {
    text-decoration: none;
}

.global-logo a {
    text-decoration: none;
    background-image: url(./images/bitmoji-darinlivdahl.png);
    background-size: 60px;
    background-repeat: no-repeat;
}

.global-nav__list {
    list-style-type: none;
}

.global-nav__list-item a {
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    box-shadow: -3px 5px 8px rgba(0,0,0,0.5);
    text-decoration: none;
}

.hero:before {
    opacity: 0.6;
    background-image: url(./images/hero-snow-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: normal;
}

.hero h2 {
    text-shadow: 2px 2px 8px black;
}

.hero .btn {
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

/* button styles */
.btn {
    border-radius: 6px;
    text-decoration: none;
    border-style: solid;
    border-width: 3px;
    cursor: pointer;
}

.btn-bare {
    border-radius: 0;
    border-style: none;
    border-width: 0;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.about:before {
    opacity: 0.08;
    background-image: url(./images/north-rocky-mountains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply; /* hard-light, multiply */
}

.profile-photo {
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border: 5px solid black;
}

/* social network icons and links */
.social-icons {
    list-style-type: none;
}

.para-footer {
    border-top-width: 1px;
    border-top-style: solid;
}

/* Projects */
.projects_container__item-inner {
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.btn-disabled,
.project-thumb--disabled {
    pointer-events: none;
}

/* Begin Modal */
.modal-heading {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.settings-container ul {
    list-style: none;
}

.settings-menu__list-item a {
    pointer-events: none;
}

.settings-panel {
    border-left-width: 1px;
    border-left-style: solid;
}

/* End Modal */

@media (min-width: 768px) {
    .global-nav__list-item a {
        border: none;
        box-shadow: none;
    }
}

@media (min-width: 1280px) {
    .global-logo a {
        background-size: 80px;
    }
}

@media (min-width: 1536px) {
    .global-logo a {
        background-size: 100px;
    }
}

@media (prefers-color-scheme: dark) {
    .profile-photo {
        border-color: white;
    }
    .about:before {
        opacity: .1;
    }
}