@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.6rem;
}

p, ul, ol {
    font-size: 1.2rem;
}

footer p {
    font-size: 1rem;
}

a { text-decoration: none; }

.skip-to-main {
    font-size: .8rem;
    font-weight: 500;
}

.global-nav__toggle > span {
    font-size: 24px;
}

.global-nav__list {
    font-weight: 500;
}

/* button styles */
.btn {
    font-weight: 500;
}

/* hero spot section */
.hero h2 {
    font-size: 2.6rem;
}

/* about section */
.exp-icon,
.about-icon {
    font-size: 36px;
}

/* social network icons and links */

.social-icons a {
    font-size: 38px;
}

/* Utility */

.para-footer {
    font-size: 1rem;
}

@media (min-width: 768px) {

    h2 {
        font-size: 2.4rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .social-icons a {
        font-size: 48px;
    }

}

@media (min-width: 1024px) {
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1.8rem;
    }

    footer p {
        font-size: 1.2rem;
    }
    
    .exp-icon,
    .about-icon {
        font-size: 48px;
    }

    .para-footer {
        font-size: 1.2rem;
    }
}

@media (min-width: 1280px) {
    .hero h2 {
        font-size: 5rem;
    }

    p, ul, ol {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 1.1rem;
    }

    .exp-icon,
    .about-icon {
        font-size: 64px;
    }
}

@media (min-width: 1536px) {
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p, ul, ol {
        font-size: 1.4rem;
    }

    footer p {
        font-size: 1.2rem;
    }
}