:root {
    /* Theme colors */
    --color-foundation: black;
    --color-primary: #ffb000;
    --color-secondary: #C78800;
    --color-action: #a34343;
    --color-action-light: #CBA35C;
    /* Dark Mode */
    --color-action-dark: rgb(0,150,255);
    --color-action-dark-active: rgb(1,24,255);
    --color-action-dark-active-light: rgb(117,213,255);
    --color-action-dark-secondary: #999;
    /* Contrast colors */
    --color-light: white;
    --color-gray: #ccc;
    --color-dark-gray: #333;
    --color-light-gray: #ebebeb;
}

h2 {
    color: var(--color-foundation);
    background-color: transparent;
}

h3,
.exp-icon {
    color: var(--color-secondary);
    background-color: transparent;
}

a {
    color: var(--color-action);
    transition: color 400ms;
}

.about a {
    color: #823535; /* better contrast with background color */
}

a:hover,
a:focus {
    color: var(--color-secondary);
}

.about a:hover,
.about a:focus {
    color: var(--color-foundation);
}

footer a {
    color: var(--color-light);
    background-color: transparent;
}

footer a:hover,
footer a:focus {
    color: var(--color-light);
}

body > header {
    background-color: var(--color-primary);
    color: var(--color-foundation);
}

.skip-to-main {
    color: var(--color-foundation);
    background-color: transparent;
}

.global-nav__list-item a:hover,
.global-nav__list-item a:focus {
    color: var(--color-primary);
    background-color: var(--color-foundation);
}

.btn-bare.global-nav__toggle--active {
    color: var(--color-action);
}

.global-nav__list-item a {
    color: var(--color-foundation);
    background-color: var(--color-primary);
    transition: background-color 400ms, color 400ms;
    border-color: var(--color-foundation);
}

@media screen and (max-width: 767px) {
    .global-nav__list-item a {
        color: var(--color-light);
        background-color: var(--color-action);
        border-color: var(--color-action);
    }
}

/* button styles */
.btn {
    transition: background-color 400ms, color 400ms, border-color 400ms;
}

.btn-primary {
    background-color: var(--color-action);
    color: var(--color-light);
    border-color: var(--color-action);
}

.btn-secondary {
    background-color: var(--color-gray);
    color: var(--color-foundation);
    border-color: var(--color-gray);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--color-foundation);
    color: var(--color-light);
    border-color: var(--color-foundation);
}

.btn-primary--outline {
    background-color: transparent;
    border: 2px solid var(--color-action);
    color: var(--color-action);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-foundation);
}

.btn-bare {
    color: var(--color-foundation);
    background-color: transparent;
}

.btn-disabled {
    background-color: silver;
    color: gray;
}

/* experience section */
.experience {
    background-color: var(--color-light);
    color: var(--color-foundation);
}

/* projects section */
.projects {
    color: var(--color-foundation);
    background: var(--color-light);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,176,0,0.5) 50%, rgba(255,207,157,0.5) 100%);
}

.projects_container__item-inner {
    background-color: var(--color-foundation);
}

.projects_container__item-inner h3 {
    color: var(--color-light);
}

.projects_container__item-inner p {
    color: var(--color-light);
}

/* about section */
.about {
    color: var(--color-foundation);
    background-color: var(--color-primary);
}

.about h3 {
    color: var(--color-foundation);
}

/* connect section */
.hero, .connect, body > footer {
    background-color: var(--color-foundation);
    color: var(--color-light);
}

.hero h2, .connect h2 {
    color: var(--color-light);
}

/* social network icons and links */
.social-icons a {
    color: var(--color-light); /* #38434f */
    transition: color 400ms;
}

.social-icon__linkedin:hover,
.social-icon__linkedin:focus {
    color: #0a66c2;
}

.social-icon__github:hover,
.social-icon__github:focus {
    color: lightgray;
}

.social-icon__codepen:hover,
.social-icon__codepen:focus {
    color: rgb(255, 221, 64);
}

.social-icon__salesforce:hover,
.social-icon__salesforce:focus {
    color: #1F5FBF;
}

.social-icon__windows:hover,
.social-icon__windows:focus {
    color: #00A3EE;
}

.social-icon__instagram:hover,
.social-icon__instagram:focus {
    color: #405DE6;
}

/* Projects */
.project-thumb--mars {
    background-color: salmon;
}

.project-thumb--mars .project-thumb-img {
    filter: opacity(0.7);
}

.project-thumb--disabled .project-thumb-img {
    border-color: gray;
}

/* Utility */

.para-footer {
    border-color: silver;
}

/* Begin Modal */
.modal {
    background-color: rgba(0,0,0,0.8);
}

.modal-heading {
    color: var(--color-foundation);
    background-color: var(--color-primary);
}

.modal-body {
    color: var(--color-foundation);
    background-color: var(--color-light);
}

.modal-footer {
    color: var(--color-foundation);
    background-color: var(--color-light-gray);
    border-top-color: var(--color-gray);
}

.settings-menu__list-item a {
    color: var(--color-foundation);
}

.settings-panel {
    border-left-color: var(--color-gray);
}

.settings-panel__list-item input:checked {
    accent-color: var(--color-action);
}
/* End Modal */

@media (prefers-color-scheme: dark) {
    h2 {
        color: var(--color-light);
    }

    h3,
    .exp-icon {
        color: var(--color-action-dark-secondary);
        background-color: transparent;
    }

    body > header {
        background-color: var(--color-foundation);
        color: var(--color-light);
    }

    a {
        color: var(--color-action-dark);
    }

    a:hover,
    a:focus {
        color: var(--color-action-dark-active-light);
    }
    
    .btn-primary {
        background-color: var(--color-action-dark);
        border-color: var(--color-action-dark);
        color: var(--color-light);
    }

    .btn-primary--outline {
        background-color: var(--color-action-dark-secondary);
        color: var(--color-light);
        border-color: var(--color-action-dark-secondary);
    }

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: var(--color-action-dark-active);
        border-color: var(--color-action-dark-active);
        color: var(--color-light);
    }

    .btn-secondary {
        background-color: var(--color-action-dark-secondary);
        border-color: var(--color-action-dark-secondary);
    }
    
    .btn-bare {
        color: var(--color-light);
    }

    .btn-bare.global-nav__toggle--active {
        color: var(--color-action-dark);
    }

    .projects h3 {
        color: var(--color-action-dark-secondary);
    }

    .about a {
        color: rgb(83,146,255); /* better contrast with background color */
    }

    .about a:hover,
    .about a:focus {
        color: var(--color-action-dark-active-light);
        
    }

    .global-nav__list-item a:hover,
    .global-nav__list-item a:focus {
        color: var(--color-foundation);
        background-color: var(--color-light);
    }

    .global-nav__toggle--active {
        color: var(--color-light);
    }

    .global-nav__list-item a {
        color: var(--color-light);
        background-color: var(--color-foundation);
    }

    @media screen and (max-width: 767px) {
        .global-nav__list-item a {
            background-color: var(--color-action-dark);
            border-color: var(--color-action-dark);
        }
    }

    .experience,
    .certifications {
        background-color: var(--color-foundation);
        color: var(--color-light);
    }

    .projects {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 50%, rgba(51,51,51,1) 100%);
        color: var(--color-light);
    }

    /* about section */
    .about {
        color: var(--color-light);
        background-color: var(--color-foundation);
    }

    .about h3 {
        color: var(--color-light);
    }

    /* Utility */
    .para-footer {
        border-color: var(--color-dark-gray);
    }

    /* Begin Modal */
    .modal-heading {
        color: var(--color-light);
        background-color: var(--color-dark-gray);
    }

    .modal-body {
        color: var(--color-light);
        background-color: var(--color-foundation);
    }

    .modal-footer {
        color: var(--color-light);
        background-color: var(--color-dark-gray);
        border-color: #1d1c1c;
    }

    .settings-menu__list-item a {
        color: var(--color-light);
    }

    .settings-panel__list-label--active {
        border-color: var(--color-action-dark);
    }
    
    .settings-panel__list-item input:checked {
        accent-color: var(--color-action-dark);
    }
    /* End Modal */
}